<div id="<%= dom_id cart %>">

    <p>Code: <%= cart.id %></p>
    <p>Cart: <%= cart.name %></p>
    <p>Total of Purchases: <%= cart.products.count %></p>
    <p>Is bought? <%= cart.bought %></p>
    
</div>
